<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.BookMgnProj.dao.BookRentalInfoMapper">

	<resultMap type="BookRentalInfo" id="BookRentalInfoResult">
		<id property="rentalNo" column="retal_no"></id>
		<result property="rentalDate" column="rental_date"/>
		<result property="returnDate" column="return_date"/>
		<result property="returnSchedule" column="return_schedule"/>
		<result property="memberNo.memberNo" column="member_no"/>
		<result property="bookCode.bookCode" column="book_code" />
		<result property="bookCode.title" column="title" />
		<result property="bookCode.author" column="author" />
		<result property="publisher.pubName" column="pub_name" />
		<result property="publisher.pubNo" column="pub_no" />
		<result property="bookCode.cateBNo.bName" column="cate_b_name"/>
		<result property="rentalNo" column="rental_no"/>
	</resultMap>

<!-- basicSQL -->
	<sql id="selectJoinSql">
		select rental_no, r.rental_date, r.return_date, r.return_schedule, member_no, b.book_code, b.title, p.pub_name,p.pub_no, b.author
		from book_rental_info as r
			join book as b on b.book_code = r.book_code
			join publisher as p on p.pub_no = b.pub_no
	</sql>
	
<!-- basicSQL where -->
	<sql id="whereSql">
		<where>
			<if test="rentalNo != null">
				rental_no=#{rentalNo}
			</if>
		</where>
	</sql>
	
	<sql id="whereBookCodeSql">
		<where>
			<if test="bookCode != null">
				book_code =#{bookCode}
			</if>
		</where>
	</sql>	
	
	<sql id="whereMemberNoSql">
		<where>
			<if test="memberNo != null">
				member_no = #{memberNo}
			</if>
		</where>
	</sql>	



<!--  ####################################### select ################################################################# -->	

	<select id="selectBookRentalInfoByAll" parameterType="BookRentalInfo" resultMap="BookRentalInfoResult">
		<include refid="selectJoinSql" />
	</select>
	
	<select id="selectBookRentalInfoByCode" parameterType="BookRentalInfo" resultMap="BookRentalInfoResult">
		<include refid="selectJoinSql" />
		<include refid="whereSql" />
	</select>
	
	
	<select id="selectBookRentalInfoByBookCode" parameterType="Book" resultMap="BookRentalInfoResult">
		<include refid="selectJoinSql"/>
		<include refid="whereBookCodeSql"/>
	</select>


	<select id="selectBookRentalMemberInfo" parameterType="Member" resultMap="BookRentalInfoResult">
		<include refid="selectJoinSql"/>
		<include refid="whereMemberNoSql"/>
		<!-- where member_no = #{memberNo}; -->
	</select>
	
	<select id="selectBookByMemberNoReturnDateNull" parameterType="Member" resultMap="BookRentalInfoResult">
		<include refid="selectJoinSql"/>
		<include refid="whereMemberNoSql"/>
		 and return_date is null
	</select>		

	<select id="selectRentalBookInfoByCategoryB" parameterType="Member" resultType="BookStat">
		select c.cate_b_name as name, count(c.cate_b_name) as count
		from book_rental_info as r
		join book as b on b.book_code = r.book_code
		join category_b as c on b.cate_b_no = c.cate_b_no
		where member_no = #{memberNo}
		group by c.cate_b_name;
	</select>

   <select id="selectRentalNoByBookCode" parameterType="BookRentalInfo" resultMap="BookRentalInfoResult">
   		<include refid="selectJoinSql"/>
   		where b.book_code=#{bookCode.bookCode}
   </select>
   
   <select id="selectRentalNoByBookCode_returnDateNull" parameterType="BookRentalInfo" resultMap="BookRentalInfoResult">
   		<include refid="selectJoinSql"/>
   		where b.book_code=#{bookCode.bookCode} and return_date is null
   </select>	
	
   <select id="nextCode" resultType="java.lang.Integer">
      select count(*)+1 from book_rental_info;
   </select>
	

<!--  ####################################### insert ################################################################# -->		
	<insert id="insertBookRentalInfo" parameterType="BookRentalInfo">
		INSERT INTO proj_library.book_rental_info (rental_no, rental_date, return_date, return_schedule, member_no, book_code)
		VALUES (#{rentalNo},#{rentalDate},#{returnDate}, #{returnSchedule}, #{memberNo.memberNo}, #{bookCode.bookCode})
	</insert>

 <!--  ####################################### update ################################################################# -->
   <update id="updateReturnDate" parameterType="BookRentalInfo">
   		UPDATE proj_library.book_rental_info
   		<set>
   			<if test="returnDate != null">return_date=#{returnDate},</if>
   			<if test="returnSchedule != null">return_schedule=#{returnSchedule},</if>
   		</set>
   		<include refid="whereSql" />		
   </update>
	
</mapper>