<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.BookMgnProj.dao.OverdueMapper">

	<sql id="selectSql">
		select member_no, stop_date, overdue_count, rental_authority, stop_end_date from overdue
	</sql>

	<sql id="whereSql">
		<where>
			<if test="memberNo != null">
				member_no=#{memberNo}
			</if>
		</where>
	</sql>
	
	<resultMap type="Overdue" id="OverdueResult">
		<id property="memberNo" column="member_no" />
		<result property="stopDate" column="stop_date"/>
		<result property="overdueCount" column="overdue_count"/>
		<result property="rentalAuthority" column="rental_authority"/>
		<result property="stopEndDate" column="stop_end_date"/>
	</resultMap>
	
	<resultMap id="MemberResult" type="Member">
		<id property="memberNo" column="member_no" />
		<result property="password" column="password" />
		<result property="korName" column="kor_name" />
		<result property="engName" column="eng_name" />
		<result property="phone" column="phone" />
		<result property="jumin" column="jumin" />
		<result property="email" column="email" />
		<result property="address" column="address" />
		<result property="photo" column="photo" />
		<result property="admin" column="admin" />
		<result property="uniqueness" column="uniqueness" />
	</resultMap>
	
	<resultMap type="Overdue" id="OverdueResult1">
		<id property="memberNo" column="member_no" />
		<result property="rentalAuthority" column="rental_authority"/>
	</resultMap>
	
	<select id="selectOverdueByAll" parameterType="Overdue" resultType="Overdue">
		<include refid="selectSql" />
	</select>
	
	<select id="selectOverdueByCode" parameterType="Overdue" resultMap="OverdueResult">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectOverdueByMemberNo" parameterType="Overdue" resultType="Overdue">
		select o.member_no, o.rental_authority
		from member m join overdue o on m.member_no = o.member_no
		where m.member_no=#{memberNo};
	</select>
	
	<insert id="insertOverdue" parameterType="Overdue">
		insert into proj_library.overdue (member_no, stop_date, overdue_count, rental_authority, stop_end_date)
		values (#{memberNo}, #{stopDate}, #{overdueCount}, #{rentalAuthority}, #{stopEndDate})
	</insert>
	
	<update id="updateStopDate" parameterType="Overdue">
		update proj_library.overdue 
		set stop_date=#{stopDate}
		where member_no=#{memberNo}
	</update>
	
	<update id="updateCount" parameterType="Overdue">
		update proj_library.overdue 
		set overdue_count=#{overdueCount}
		where member_no=#{memberNo}
	</update>
	
	<update id="updateAuthority" parameterType="Overdue">
		update proj_library.overdue 
		set rental_authority=#{rentalAuthority}
		where member_no=#{memberNo}
	</update>
	
	<update id="updateStopEndDate" parameterType="Overdue">
		update overdue
		set stop_end_date=#{stopEndDate}
		where member_no=#{memberNo}
	</update>

	
</mapper>