<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.BookMgnProj.dao.OverduePopupMapper">
	<resultMap type="OverduePopup" id="OverduePopup">
		<result property="korName.korName" column="kor_name" />
		<result property="title.title" column="title" />
		<result property="rentalDate.rentalDate" column="rental_date" />
		<result property="returnSchedule.returnSchedule"
			column="return_schedule" />
		<result property="phone.phone" column="phone" />
		<result property="returnDate" column="return_date" />
		<result property="overday" column="overday" />		
		<result property="bookCode.bookCode" column="book_code" />
		<result property="memberNo.memberNo" column="member_no" />
		
	</resultMap>

	<select id="selectAll" resultMap="OverduePopup">
		SELECT kor_name, title,
		rental_date, return_schedule,phone, return_date,
  		(to_days(now()) - to_days(return_schedule)) as overday
		FROM
		proj_library.overduepopup
		where (now() > return_schedule)
	</select>
	<update id="updatedat">
		UPDATE proj_library.`day`
		SET daty=(NOW());
	</update>
	<select id="selectDate" resultType="int">
		select datediff(daty, now())
		from day
	</select>
	<select id="selectAllRentInfo" resultMap="OverduePopup">
		SELECT kor_name, title,
		rental_date, return_schedule,phone, return_date,book_code,member_no,(to_days(now()) - to_days(return_schedule)) as overday
		FROM
		proj_library.overduepopup
	</select>

</mapper>